<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.yizhierha.operation.mapper.OraDeployMapper">

    <resultMap id="BaseResultMap" type="fun.yizhierha.operation.domain.OraDeploy" >
        <id column="deploy_id" property="id"/>
        <result column="app_id" property="appId"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="app" javaType="fun.yizhierha.operation.domain.OraApp" columnPrefix="oa_">
            <id property="id" column="app_id" />
            <result property="name" column="name"/>
            <result property="uploadPath" column="upload_path"/>
            <result property="deployPath" column="deploy_path"/>
            <result property="backupPath" column="backup_path"/>
            <result property="port" column="port"/>
            <result property="startScript" column="start_script"/>
            <result property="deployScript" column="deploy_script"/>
            <result property="createBy" column="create_by"/>
            <result property="updateBy" column="update_by"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
        </association>
        <collection property="server" ofType="fun.yizhierha.operation.domain.OraServer" columnPrefix="os_">
            <id property="id" column="server_id"/>
            <result property="account" column="account"/>
            <result property="ip" column="ip"/>
            <result property="name" column="name"/>
            <result property="port" column="port"/>
            <result property="createBy" column="create_by"/>
            <result property="updateBy" column="update_by"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
        </collection>
    </resultMap>


    <sql id="Base_Column_List" >
        `deploy_id` ,
            `app_id`,
            `create_by`,
            `update_by`,
            `create_time`,
            `update_time`
    </sql>


    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        od.`deploy_id`,
        od.`app_id`,
        od.`create_by`,
        od.`update_by`,
        od.`create_time`,
        od.`update_time`,
        oa.`app_id` AS oa_app_id,
        oa.`name` AS oa_name,
        oa.`upload_path` AS oa_upload_path,
        oa.`deploy_path` AS oa_deploy_path,
        oa.`backup_path` AS oa_backup_path,
        oa.`port` AS oa_port,
        oa.`start_script` AS oa_start_script,
        oa.`deploy_script` AS oa_deploy_script,
        oa.`create_by` AS oa_create_by,
        oa.`update_by` AS oa_update_by,
        oa.`create_time` AS oa_create_time,
        oa.`update_time` AS oa_update_time,
        os.`server_id` AS os_server_id,
        os.`account` AS os_account,
        os.`ip` AS os_ip,
        os.`name` AS os_name,
        os.`password` AS os_password,
        os.`port` AS os_port,
        os.`create_by` AS os_create_by,
        os.`update_by` AS os_update_by,
        os.`create_time` AS os_create_time,
        os.`update_time` AS os_update_time
        FROM
        ( SELECT * FROM ora_deploy WHERE  deploy_id = #{id}) od
        LEFT JOIN ora_app oa ON od.app_id = oa.app_id
        LEFT JOIN ora_deploy_server ods ON ods.deploy_id = od.deploy_id
        LEFT JOIN ora_server os ON ods.server_id = os.server_id
    </select>

    <select id="selectByRtVo" resultMap="BaseResultMap" >
        SELECT
            od.`deploy_id`,
            od.`app_id`,
            od.`create_by`,
            od.`update_by`,
            od.`create_time`,
            od.`update_time`,
            oa.`app_id` AS oa_app_id,
            oa.`name` AS oa_name,
            oa.`upload_path` AS oa_upload_path,
            oa.`deploy_path` AS oa_deploy_path,
            oa.`backup_path` AS oa_backup_path,
            oa.`port` AS oa_port,
            oa.`start_script` AS oa_start_script,
            oa.`deploy_script` AS oa_deploy_script,
            oa.`create_by` AS oa_create_by,
            oa.`update_by` AS oa_update_by,
            oa.`create_time` AS oa_create_time,
            oa.`update_time` AS oa_update_time,
            os.`server_id` AS os_server_id,
            os.`account` AS os_account,
            os.`ip` AS os_ip,
            os.`name` AS os_name,
            os.`password` AS os_password,
            os.`port` AS os_port,
            os.`create_by` AS os_create_by,
            os.`update_by` AS os_update_by,
            os.`create_time` AS os_create_time,
            os.`update_time` AS os_update_time
        FROM
            ( SELECT * FROM ora_deploy
                <where>
                    <if test="vo.appId != null">
                        app_id = #{vo.appId}
                    </if>
                    <if test="vo.serverId != null">
                        AND deploy_id IN ( SELECT deploy_id FROM ora_deploy_server WHERE server_id = #{vo.serverId} )
                    </if>
                </where>
            ) od
                LEFT JOIN ora_app oa ON od.app_id = oa.app_id
                LEFT JOIN ora_deploy_server ods ON ods.deploy_id = od.deploy_id
                LEFT JOIN ora_server os ON ods.server_id = os.server_id
    </select>
</mapper>