<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.yizhierha.modules.system.mapper.SysRolesDeptsMapper">
  <resultMap id="BaseResultMap" type="fun.yizhierha.modules.system.domain.SysRolesDepts">
    <!--@mbg.generated-->
    <!--@Table sys_roles_depts-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_id, dept_id
  </sql>

  <select id="selectUntreatedDataScopeByRolesId"
            resultType="fun.yizhierha.modules.system.service.dto.UntreatedDataScopeDto">
    SELECT
      sd.dept_id,
      sd.pid,
      sr.data_scope
    from sys_dept sd
           left join sys_roles_depts srd on sd.dept_id = srd.dept_id and srd.role_id in
    <foreach collection="roleIds" item="roleId" separator="," open="(" close=")">
      #{roleId}
    </foreach>
           left join sys_role sr on srd.role_id = sr.role_id

  </select>
</mapper>